/* police >> font-family: 'Raleway', sans-serif; */

* {
  box-sizing: border-box;
}

em {
  font-style: normal;
}

h3 {
  font-size: medium;
}

p {
  font-size: small;
}

a {
  color: #181818;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

html {
  width: 100%;
  font-family: "Raleway", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
}

.blue {
  color: #0065FC;
}

.grey {
  color: #F2F2F2;
}

/* Bloc page */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: #181818;
  background-color: white;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  margin-bottom: 17px;
}

#logo {
  margin: 15px 0;
  width: 100px;;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav li:focus {
  border-top: 3px solid #0065FC;
}

nav > a {
  font-size: 15px;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav > a:hover {
  color: #0065FC;
}

nav > a:visited {
color: #181818;
}

nav > a:visited:hover {
  color: #0065FC;
}


/* Partie recherche (+ filtres) */

#search-section {
  margin-top: 0;
}

#search-section > div {
  margin-bottom: 22px;
}

#search-section p {
  font-size: 14px;
}

#search-section form {
  display: inline-flex;
  max-width: 100%;
}

#search-section form input {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 24px;
  width: 224px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}

#search-section form button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 16px 16px 0;
  font-family: "Raleway", "Sans serif";
  font-size: 16px;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
}

#locbutton {
  background-color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 16px 0 0 16px;
  text-align: center;
}

#filters {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
}

#filters h2 {
  margin: 0 32px 16px 0;
  display: flex;
  align-items: center;
}

#filters div {
  display: flex;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #d9d9d9;
  border-radius: 32px;
  margin-bottom: 16px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
  padding-right: 16px;
}

#filters div:hover {
  background-color: #f2f7ff;
}

#filters i {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  min-height: 56px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  color: #0065FC;
  margin-right: 16px;
}

#titleinfo {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.fa-info {
  margin-right: 12px;
  padding: 5px 8px;
  border: #F2F2F2 2px solid;
  border-radius: 25px;
  color: #0065FC;
  font-size: 75%;
}

/* Hébergements */

.card-photo {
  overflow-y: hidden;
}

#flats-list > * {
  color: black;
  text-decoration: none;
}

.flat-card {
  /* height: 85%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px #0000002e;
  transition: transform .2s;
}

.rating {
  margin: 0 1px 1px 1px;
}

.flat-card:hover {
  transform: scale(1.02);
}

.flat-card .card-photo {
  height: 130px;
  border-radius: 20px 20px 0 0;
}

.flat-card .flat-contain {
  padding-left: 10px;
  margin-bottom: 1%;
}

.flat-card .flat-nameprice h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.flat-card .flat-nameprice p {
  margin-top: 0;
}

#more-flats {
  text-decoration: none;
  color: inherit;
}

#more-flats:hover {
  text-decoration: underline;
}

/*Les plus populaires*/

aside {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

#popular-title h2 {
  display: flex;
  justify-content: space-between;
}

#popular-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#popular-list > * {
  color: black;
  text-decoration: none;
}

#popular-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-card {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 5px solid white;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 10px #0000002e;
  transition: transform .2s;
}

.popular-card:hover {
  transform: scale(1.02);
}

.popular-card .card-photo {
  width: 130px;
  border-radius: 20px 0 0 20px;
}

.popular-card .flat-contain {
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.popular-card .flat-nameprice * {
  margin-top: 8px;
  margin-bottom: -2px;
}

/*Activités*/

#activities-list {
  color: black;
  text-decoration: none;
}

.activity-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px #f0f0f0;
  transition: transform .2s;
  overflow: hidden;
}

.activity-card h3 {
  height: 10%;
  font-size: 100%;
  padding-left: 20px;
}

/*Footer*/

footer {
  background-color: #F2F2F2;
  position: relative;
  bottom: 0;
}

#about-us #our-flats #assistance {
  justify-content: center;
  flex: 1;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: inherit;
}

li {
  line-height: 2;
}

/* -------------DESKTOP--------------- */

/* Header */

@media screen and (min-width: 992px) {
  h1 {
    margin-top: 0;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    width: 250px;
  }

  nav > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 2px #F2F2F2 solid;
    margin: -17px 15px;
  }

  nav > a:hover {
    border-top: 2px #0065FC solid;
  }
}

/* Partie recherche (+ filtres) */

@media screen and (min-width: 992px) {
  main > * {
    padding: 0 3%;
    margin-top: 17px;
  }

  main > section {
    margin-top: 2%;
  }

  #search-title * {
    margin: 0;
    line-height: 1.5;
  }

  #locbutton {
    width: 55px;
    pointer-events: none
  }

  #searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bold;
  }

  #searchbutton-icon {
    display: none;
  }
}

/* Hébergements */

@media screen and (min-width: 992px) {
  #flats {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #flats > div {
    border-radius: 25px;
  }

  #all-flats {
    width: 65%;
    padding: 20px 2%;
    background-color: #F2F2F2;
  }

  #flats-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
  }

  #flats-list a {
    width: 30%;
  }
}

/*Les plus populaire*/

@media screen and (min-width: 992px) {
  aside {
    border-radius: 25px;
    width: 32%;
    padding: 20px 2%;
  }

  #popular-list {
    height: 85%;
  }

  #popular-list a {
    height: 25%;
  }

}

/* Activités */

@media screen and (min-width: 992px) {

  #activities {
    height: 550px;
    padding-bottom: 10px;
  }

  #activities div > * {
    text-decoration: none;
  }

  #activities div > a:visited {
    color: #181818;
  }

  #activities-list {
    height: 85%;
    display: flex;
    justify-content: space-between;
  }

  #activities-list > * {
    width: 22.5%;
    height: 100%;
  }

  #activities-list > a > .activity-card .card-photo {
    height: 90%;
  }

  #activities-two-cards1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activities-two-cards1 a:nth-child(1) {
    height: 50%;
  }

  #activities-two-cards1 a:nth-child(2) {
    height: 40%;
  }

  #activities-two-cards2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activities-two-cards2 a:nth-child(1) {
    height: 45%;
  }

  #activities-two-cards2 a:nth-child(2) {
    height: 45%;
  }

  .activity-card:hover {
    transform: scale(1.02);
  }

  /*footer*/

  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}

/* ------------(écran max 992px)------------- */

/* Header */

@media screen and (max-width: 991px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  #logo {
    text-align: center;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  nav > a {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 2px #F2F2F2 solid;
  }

  nav > a:hover {
    border-bottom: 2px #0065FC solid;
  }
}

/* Partie recherche (+ filtres) */

@media screen and (max-width: 991px) {
  /* main > section > * > * {
    padding: 0 2%;
  } */

  main > section > * {
    padding: 0 2% 15px 3%;
  }

  #search-section {
    display: flex;
    flex-direction: column;
  }

  #search-title h1 {
    margin-bottom: 10px;
  }

  #search-title p {
    margin: 0;
  }

  #search-section > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 22px;
    align-self: center;
  }
}

/* Hébergements */

@media screen and (max-width: 991px) {

  #all-flats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #flats-list {
    padding-right: 5%;
  }

  aside {
    height: 600px;
  }

  #popular-list {
    height: 90%;
  }

  #popular-list a {
    height: 27.5%;
  }

  #activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  #activities div > * {
    text-decoration: none;
  }

  #activities div > a:visited {
    color: #181818;
  }

  #activities h2 {
    height: 5%;
  }

  #activities-list {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activities-list > a {
    height: 16%;
    margin-bottom: 20px;
  }

  #activities-list > div {
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activities-list > div a {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000002e;
    transition: transform .2s;
    overflow: hidden;
  }

  .activity-card:hover {
    transform: scale(1.02);
  }

  #activities-list > a > .activity-card .card-photo {
    height: 90%;
  }

  footer {
    padding: 0 3%;
  }
}

/* ------------Tablette entre 768px et 991px)------------- */

@media screen and (min-width: 768px) and (max-width: 991px) {
  #search-section > div:nth-child(2) {
    width: 500px;
    display: flex;
  }

  #searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
  }

  #searchbutton-icon {
    display: none;
  }

  #all-flats > div:nth-child(3) {
    height: 5%;
  }

  #flats-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
  }

  #flats-list a {
    width: 45%;
  }

  #activities {
    height: 2200px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}

/* ------------Smartphone sous 768px)------------- */

@media screen and (max-width: 767px) {
  #search-section > div:nth-child(2) {
    display: flex;
    justify-content: center;
  }

  #searchbutton {
    display: none;
  }

  #popular {
    background-color: #F2F2F2;
  }

  /* #all-flats {
    height: 1600px;
  } */

  #all-flats h2, #all-flats h3 {
    height: 2%;
  }

  #flats-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  #activities {
    height: 1600px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

/* box-sizing config */

/* .box {
  box-sizing: border-box;
  * Opera/IE 8+ *
  -moz-box-sizing: border-box;
  * Firefox, autres Gecko *
  -webkit-box-sizing: border-box;
  * Safari/Chrome, autres WebKit *
} */
